body{
}
#mainstage{
height:100%;
width:100%;
resize: both;
overflow: hidden;
}

#mainstage-bk{
  background-image: url("images/background12.jpg");
  opacity: 0.7;
  background-size: cover;
}

#header{
  height:100%;
  text-align: center;
  color: white;
  font-family: 'Julius Sans One', sans-serif;
  border: 1px solid white;
}

#header h1{
padding-top: 25px;
font-size: 48px;
}

#question-box{
  text-align: center;
  height:40vh;
  font-family: 'Julius Sans One', sans-serif;
  color: white;
  border: 1px solid white;
}
}

#question-box h3{
  font-size: 26px;
  padding-top: 25%;
  margin-left: 2px;
  margin-right:2px;
}

.answerBox{
 height: 50vh;
 border: 1px solid white;
}

.answer-boxes{
  font-family: 'Julius Sans One', sans-serif;
  color:white;
  position:static;
  height:25%;
  text-align: center;
  border: 1px solid white;
}

}
