body{
  margin:0;
  height:-webkit-fill-available;
  width: -webkit-fill-available;
  overflow:hidden;
  background-image: url("images/background12.jpg");
  opacity: 0.7;
  background-size: cover;
}

#mainstage{
height:100%;
width: 100%;
resize: both;
}

#mainstage-bk{

}

#header{
  display: flex;
  justify-content: center;
  color: white;
  font-family: 'Julius Sans One', sans-serif;
}

#header h1{
font-size: 48px;
}

#question-box{
  display: flex;
  text-align: center;
  justify-content: center;
  flex-flow: column;
  font-family: 'Julius Sans One', sans-serif;
  color: white;
  height: 30vh;
}

.answerBox{
  display: flex;
  flex-flow: column;
  height: 30vh;
}

.answer-boxes{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Julius Sans One', sans-serif;
  color:white;
  position:static;
  text-align: center;
  height: 25%
}

.answer-boxes:hover{
  background-color:white;
  color: grey;
}

.nextButton{
  font-size: large;
    margin-left: auto;
    margin-right: auto;
}
