body{
  background-image: url("images/background5.jpg");
  background-size: auto;
}
#mainstage{
background-color: red;
height:100%;
width:50vh;
margin-left: auto;
margin-right: auto;
border: 1px solid black;
}

#header{
  height:10vh;
  text-align: center;
  border: 1px solid black;
}

#header h1{
  padding-top: 0;
}

#question-box{
  text-align: center;
  height:40vh;
  background-color: yellow;
  border: 1px solid black;
}

#question-box h3{
  padding-top: 25%;
  padding-right: 2px;
  padding-left: 2px;
}

.answer-boxes{
  height:50vh;
  background-color: orange
}

#answerA{
  height:25%;
  text-align: center;
  background-color: green;
  border: 1px solid black;
}

#answerA p{
  padding-top: 5%;
}

#answerB{
  height:25%;
  text-align: center;
  background-color: grey;
  border: 1px solid black;
}

#answerB p{
  padding-top: 5%;
}

#answerC{
  height:25%;
  text-align: center;
  background-color: blue;
  border: 1px solid black;
}

#answerC p{
  padding-top: 5%;
}

#answerD{
  height:25%;
  text-align: center;
  background-color: purple;
  border: 1px solid black;
}

#answerD p{
  padding-top: 5%;
}
